snippet tf "test function"
	func Test${1:name}(t *testing.T) {
		${0}
	}

snippet ttb "test table"
	tests := []struct {
		name string
	}{
		{
			name: "${2:test name}",
		},
	}

	for _, tc := range tests {
		tc := tc
		t.Run(tc.name, func(t *testing.T) {
			t.Parallel()

			${0}
		})
	}

snippet pd "proto diff"
	if diff := cmp.Diff(${1:want}, ${2:got}, protocmp.Transform()); diff != {
		t.Errorf("${3:Foo()} returned unexpected difference in protobuf message (-want +got):\n%s", ${0}diff)
	}
