.DS_Store
fish/fish_variables
packer_compiled.lua
fish/completions/
fish/conf.d/
fish/fish_plugins
fish/functions/_fzf_configure_bindings_help.fish
fish/functions/_fzf_extract_var_info.fish
fish/functions/_fzf_preview_changed_file.fish
fish/functions/_fzf_preview_file.fish
fish/functions/_fzf_report_diff_type.fish
fish/functions/_fzf_report_file_type.fish
fish/functions/_fzf_search_directory.fish
fish/functions/_fzf_search_git_log.fish
fish/functions/_fzf_search_git_status.fish
fish/functions/_fzf_search_history.fish
fish/functions/_fzf_search_processes.fish
fish/functions/_fzf_search_variables.fish
fish/functions/_fzf_wrapper.fish
fish/functions/fisher.fish
fish/functions/fzf_configure_bindings.fish
nvim/lua/plugins/local.lua
