priority -1

snippet co "print" b
cout << ${0} << '\n';
endsnippet

snippet coa "print array" b
cout << ${1} << " \n"[${0}];
endsnippet

snippet ce "print( debug )" b
cerr << ${0} << endl;
endsnippet

snippet cea "print array( debug )" b
cerr << ${1} << " \n"[${0}];
endsnippet

snippet fio "File I/O"
freopen("input.txt", "r", stdin);
freopen("output.txt", "w", stdout);
endsnippet
