priority -1

snippet cftmp "CF Template" b
// by gantheory™
#include <bits/stdc++.h>

using namespace std;

${0}

int main() {
	ios_base::sync_with_stdio(false);
	cin.tie(0);
}
endsnippet

snippet acmtmp "ACM Template" b
// by gantheory™
#include <bits/stdc++.h>

using namespace std;

${0}

void init() {
}
int main() {
	ios_base::sync_with_stdio(false);
	cin.tie(0);
	int tt;
	cin >> tt;
	for (int qq = 1; qq <= tt; ++qq) {
		init();
	}
}
endsnippet
